# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Ivan\Downloads\JavaOOP\exams\exam.april.16\03. Unit Testing_ Skeleton\Computers\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
