# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Ivan\Downloads\JavaOOP\11. Java-OOP-Unit-Testing-Exercises-Resources\UnitTesting_Exercises\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
